<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="indexCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Flight Tickets Booking</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/jquery-ui.css">
    <link href="../assets/css/main.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script charset="utf-8" src="../assets/js/bootstrap.js"></script>
    <script charset="utf-8" src="../assets/js/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>   
    <script>
    $( function() {
        $( "#datetimepicker1" ).datepicker();
    } );
    </script> 
    <script type="text/javascript">
            $(function(){				
                $('#search').click(function(e){
                    e.preventDefault();
                    console.log('start searching flights..');
                    var from = document.getElementById("from").value;
                    var to = document.getElementById("to").value;
                    var date = document.getElementById("datetimepicker1").value;
                    console.log(from + to + date);                   
                    if (from == '' || to == '' || date == '') {
                       alert("Please Fill All Search Fields");
                    } else {
                        $.ajax({
                            type: "GET",
                            url: "/api/airlines",
                            cache: false,
                            success: function(data) {
                                console.log(data);
                                console.log(data[0].code);
                                
                                $.ajax({
                                    type: "GET",
                                    url: "/api/airports",
                                    data: {
                                        city: from
                                        },
                                        contentType: 'application/json',
                                        cache: false,
                                        success: function(data) {
                                        console.log(data);
                                        var fromAirportCode = data;
                                            
                                  $.ajax({
                                    type: "GET",
                                    url: "/api/airports",
                                    data: {
                                        city: to
                                        },
                                        contentType: 'application/json',
                                        cache: false,
                                        success: function(data) {
                                        console.log(data);
                                        var toAirportCode = data;
                                                   
                                  $.ajax({
                                    type: "GET",
                                    url: "/api/search",
                                    data: {
                                        fromAirportCode: fromAirportCode,
                                        toAirportCode: toAirportCode,
                                        date: date
                                        },
                                        contentType: 'application/json',
                                        cache: false,
                                        success: function(data) {
                                        console.log('success');
                                        console.log(JSON.stringify(data));
                                    }
                                });
                                    }
                                });  
                                            
                                    }
                                });    
                            }
                        });
                    }
                    return false;             

                });				
            });
    </script>   
</head>
<body class="">
    <div class="container">  
        <div class="row content">
            <h2 class="head">Search Flights</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-4 col-xs-12 floatbox">
                    <select class="selectpicker search-query form-control" data-live-search="true" title="Where are you leaving from?" id="from">
                        <optgroup label="A">
                        <option data-tokens="albury" data-subtext="ABX">Albury</option>
                        <option data-tokens="ayers rock" data-subtext="AYQ">Ayers Rock</option>
                        </optgroup>
                        <optgroup label="B">
                        <option data-tokens="brisbane" data-subtext="BNE">Brisbane</option>
                        <option data-tokens="broome" data-subtext="BME">Broome</option>
                        <option data-tokens="bundaberg" data-subtext="BDB">Bundabery</option>
                        </optgroup>
                        <optgroup label="C">
                        <option data-tokens="canberra" data-subtext="CBR">Canberra</option>
                        <option data-tokens="cocos islands" data-subtext="CCK">Cocos Islands</option>
                        <option data-tokens="coffs harbour" data-subtext="CFS">Coffs Harbour</option>
                        </optgroup>
                        <optgroup label="D">
                        <option data-tokens="darwin" data-subtext="DRW">Darwin</option>
                        </optgroup>
                        <optgroup label="E">
                        <option data-tokens="emerald" data-subtext="EMD">Emerald</option>
                        </optgroup>
                        <optgroup label="G">
                        <option data-tokens="geraldton" data-subtext="GET">Gealdton</option>
                        <option data-tokens="gladstone" data-subtext="GLT">Gladstone</option>
                        <option data-tokens="gold coast" data-subtext="OOL">Gold Coast</option>
                        </optgroup>
                        <optgroup label="M">
                        <option data-tokens="mackay" data-subtext="MKY">Mackay</option>
                        <option data-tokens="melbourne" data-subtext="MEL">Melbourne</option>
                        </optgroup>
                        <optgroup label="P">
                        <option data-tokens="perth" data-subtext="PER">Perth</option>
                        </optgroup>
                        <optgroup label="S">
                        <option data-tokens="sydney" data-subtext="SYD">Sydney</option>
                        </optgroup>
                    </select>         
                </div>
               
               <div class="input-group col-md-4 col-xs-12 floatbox">
                    <select class="selectpicker search-query form-control" data-live-search="true" title="Where are going to?" id="to">
                        <optgroup label="A">
                        <option data-tokens="albury" data-subtext="ABX">Albury</option>
                        <option data-tokens="ayers rock" data-subtext="AYQ">Ayers Rock</option>
                        </optgroup>
                        <optgroup label="B">
                        <option data-tokens="brisbane" data-subtext="BNE">Brisbane</option>
                        <option data-tokens="broome" data-subtext="BME">Broome</option>
                        <option data-tokens="bundaberg" data-subtext="BDB">Bundabery</option>
                        </optgroup>
                        <optgroup label="C">
                        <option data-tokens="canberra" data-subtext="CBR">Canberra</option>
                        <option data-tokens="cocos islands" data-subtext="CCK">Cocos Islands</option>
                        <option data-tokens="coffs harbour" data-subtext="CFS">Coffs Harbour</option>
                        </optgroup>
                        <optgroup label="D">
                        <option data-tokens="darwin" data-subtext="DRW">Darwin</option>
                        </optgroup>
                        <optgroup label="E">
                        <option data-tokens="emerald" data-subtext="EMD">Emerald</option>
                        </optgroup>
                        <optgroup label="G">
                        <option data-tokens="geraldton" data-subtext="GET">Gealdton</option>
                        <option data-tokens="gladstone" data-subtext="GLT">Gladstone</option>
                        <option data-tokens="gold coast" data-subtext="OOL">Gold Coast</option>
                        </optgroup>
                        <optgroup label="M">
                        <option data-tokens="mackay" data-subtext="MKY">Mackay</option>
                        <option data-tokens="melbourne" data-subtext="MEL">Melbourne</option>
                        </optgroup>
                        <optgroup label="P">
                        <option data-tokens="perth" data-subtext="PER">Perth</option>
                        </optgroup>
                        <optgroup label="S">
                        <option data-tokens="sydney" data-subtext="SYD">Sydney</option>
                        </optgroup>
                    </select>          
                </div>

       <div class="input-group col-md-4 col-xs-12 floatbox">
          <input type="text" id="datetimepicker1" class="search-query form-control" placeholder="Travel Date" />
            <span class="input-group-btn">
                <button class="btn btn-danger" type="button" style="padding: 2px 5px; left: -28px; color:#D9230F;">
                   <span class="glyphicon glyphicon-calendar"></span>
                </button>
            </span>
        </div>         
    </div>          
            
          <div class="col-md-4 col-xs-12 floatbox btn-group btn-group-lg">  
            <button type="button" class="btn btn-danger" id="search">Search Flights</button>
            </div>
    </div>        
</div>


    
</body>
</html>
