<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="indexCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Flight Tickets Booking</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/jquery-ui.css">
    <link href="../assets/css/main.min.css" rel="stylesheet" />
    
<!--    <script src="../assets/js/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script charset="utf-8" src="../assets/js/bootstrap.js"></script>
    <script charset="utf-8" src="../assets/js/moment.js"></script>
  <script>
  $( function() {
    $( "#datetimepicker1" ).datepicker();
  } );
  </script>
</head>
<body class="">
    <div class="container">  
        <div class="row content">
          <h2 class="head">Search Flights</h2>
           <div id="custom-search-input">
                <div class="input-group col-md-4 col-sm-12 floatbox">
                    <input type="text" class="search-query form-control" placeholder="From Location" />
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button">
                                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                            </button>
                        </span>
                </div>
               <div class="input-group col-md-4 col-sm-12 floatbox">
                    <input type="text" class="search-query form-control" placeholder="To Location" />
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button">
                                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                            </button>
                        </span>
                </div>

       <div class="input-group col-md-4 col-sm-12 floatbox">
          <input type="text" id="datetimepicker1" class="search-query form-control" placeholder="Travel Date" />
            <span class="input-group-btn">
                <button class="btn btn-danger" type="button">
                   <span class="glyphicon glyphicon-calendar"></span>
                </button>
            </span>
        </div>

                        
              

               
           
               
            </div>
        </div>

  </div>

</body>
</html>
